html:has(body.kanban-active) {
  overscroll-behavior: none;
}

.discourse-kanban {
  position: relative;
  display: flex;
  justify-content: center;

  --d-sidebar-gap: 2em;
  @media screen and (max-width: 1000px) {
    --d-sidebar-gap: 1em;
  }

  &.inline {
    // Normal sidebar
    body.has-sidebar-page:not(.full-width-enabled) & {
      --main-outlet-wrapper-width: min(
        calc(var(--d-sidebar-width) + var(--d-max-width)),
        100vw
      );
      --page-margin-width: calc((100vw - var(--main-outlet-wrapper-width)) / 2);
      width: calc(
        100% + var(--page-margin-width) + var(--d-sidebar-gap) + 10px
      );
      left: calc(0px - var(--d-sidebar-gap));

      .discourse-kanban-container {
        padding-left: var(--d-sidebar-gap);
      }
    }

    // Sidebar with full width
    body.has-sidebar-page.full-width-enabled & {
      --space-on-left: max(
        calc((100vw - 100%) / 2),
        calc(var(--d-sidebar-width) + var(--d-sidebar-gap))
      );

      left: calc(0px - var(--space-on-left) + var(--d-sidebar-width));

      width: calc(100vw - var(--d-sidebar-width));

      .discourse-kanban-container {
        padding-left: var(--d-sidebar-gap);
      }
    }

    // No sidebar
    body:not(.has-sidebar-page) & {
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
    }
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: z("fullscreen");
    background-color: var(--secondary);
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;

    .discourse-kanban-container {
      height: auto;
      padding: 10px !important;
      max-height: 100%;
    }

    .fullscreen-close-wrapper {
      padding: 10px 0 10px 10px;
      display: flex;
    }
  }
}

.discourse-kanban-container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior: contain;
  padding: 10px;
  gap: 0 10px;

  .discourse-kanban-list {
    position: relative;
    overflow: hidden;
    background: var(--primary-100);
    border: 1px solid var(--primary-low);

    &.kanban-empty-state {
      padding: 10px;
      text-align: center;
      justify-content: center;
      gap: 20px;
    }

    &.accept-drag {
      background: var(--primary-300);
    }

    width: 350px;

    flex-shrink: 0;

    padding: 10px 0px 0px 0px;

    display: flex;
    flex-direction: column;

    .list-title {
      font-weight: bold;
      margin-left: calc(11px + 0.15em);
      font-size: $font-up-1;
    }

    .topics {
      overflow-y: scroll;
      padding: 0 8px;
      height: 100%;
    }

    .topic-card {
      display: block;
      color: var(--primary);

      margin: 10px 0;

      background: var(--secondary);
      padding: 10px;
      box-shadow: var(--primary-low) 0px 3px 6px;
      border: 1px solid var(--primary-low);

      &.dragging {
        background-color: var(--tertiary-low);
      }

      .card-row {
        display: flex;
        align-content: flex-start;

        * {
          flex-grow: 0;
        }

        .posters,
        .topic-title {
          flex-grow: 1;
          word-wrap: break-word;
          overflow: hidden;
        }

        .relative-date {
          font-size: $font-down-2;
        }

        .assigned-to {
          margin-top: auto;
          color: var(--primary-medium);
          font-size: $font-down-2;
        }
      }
    }

    .no_topics {
      width: 100%;
      text-align: center;
      margin-top: 50px;
    }
  }
}

.modal .kanban-modal {
  width: 400px;

  .control-label,
  .controls {
    margin: 5px;
  }

  .control-label {
    margin-top: 15px;
  }

  .select-kit,
  div.ac-wrap {
    width: 100%;
  }
}

body.kanban-active {
  overflow: hidden;

  .topic-list,
  .topic-list-bottom {
    display: none;
  }

  #main-outlet {
    height: calc(100dvh - var(--header-offset) - 1.5em);
    display: flex;
    flex-direction: column;
  }

  .list-container {
    flex-shrink: 1;
    flex-grow: 1;
    min-height: 0; // Override auto min-height from flexbox
  }

  .list-container .row:nth-child(2),
  .full-width {
    height: 100%;
  }

  #list-area {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;
  }

  .discourse-kanban {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: visible;
    min-height: 0;
  }
}

body.tags-page.kanban-active.kanban-legacy-topic-list {
  // Hacks for legacy tag-show page which has different HTML
  #main-outlet > span:nth-of-type(2) {
    flex-shrink: 1;
    flex-grow: 1;
    min-height: 0;
    display: flex;
  }
  .list-container {
    display: none;
  }
  .discourse-kanban {
    flex-grow: unset;
  }
}

ul.kanban-controls {
  padding: 0.5rem;
  margin: 0;
  list-style: none;

  li .btn {
    width: 100%;
    justify-content: flex-start;
  }

  li {
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
