.discourse-kanban {
  position: relative;
  display: flex;

  &.fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: z("fullscreen");
    background-color: var(--secondary, $secondary);
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;

    .discourse-kanban-container {
      height: auto;
      padding: 10px 0;
      max-height: 100%;
    }
  }
}

.discourse-kanban-container {
  width: 100%;
  height: 70vh;
  margin-left: 40px;
  display: flex;
  overflow-x: scroll;
  padding: 10px 0 5px 0;

  &:after {
    content: "";
    position: absolute;
    right: 0px;
    width: 10px;
    height: 100%;
    background: linear-gradient
      (to right, transparent, var(--secondary, $secondary));
  }

  .kanban-spacer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40px;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -3px;

    button {
      margin-bottom: 4px;
    }
  }

  .discourse-kanban-list {
    position: relative;
    overflow: hidden;
    background: var(--primary-low, $primary-low);

    &.kanban-empty-state {
      padding: 10px;
      text-align: center;
      justify-content: center;
      gap: 20px;
    }

    &.accept-drag {
      background: var(--primary-medium, $primary-medium);
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 10px;
      background: linear-gradient(
        to bottom,
        transparent,
        var(--primary-low, $primary-low)
      );
    }

    .list-bottom {
      height: 10px;
    }

    width: MAX(
      calc((100% - 8px - (8px * (#{$num-columns} - 1))) / #{$num-columns}),
      calc(
        (#{$large-width} - 400px - (8px * (#{$num-columns} - 1))) / #{$num-columns}
      )
    );
    flex-shrink: 0;
    margin: 0 4px;
    padding: 10px 0px 0px 0px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .list-title {
      font-weight: bold;
      margin-left: calc(11px + 0.15em);
      font-size: $font-up-1;
    }

    .topics {
      overflow-y: scroll;
      padding: 0 8px;
      height: 100%;
    }

    .topic-card {
      display: block;
      color: var(--primary-medium, $primary-medium);

      &.topic-unseen {
        color: var(--primary-medium, $primary-medium);
      }

      margin: 10px 0;

      background: var(--secondary, $secondary);
      border-radius: 3px;
      padding: 5px;
      box-shadow: 0 1px 0 var(--primary-medium, $primary-medium);

      &.dragging {
        background-color: var(--tertiary-low, $tertiary-low);
      }

      .card-row {
        display: flex;
        align-content: flex-start;

        * {
          flex-grow: 0;
        }

        .posters,
        .topic-title {
          flex-grow: 1;
          word-wrap: break-word;
          overflow: hidden;
        }

        .relative-date {
          font-size: $font-down-2;
        }

        .assigned-to {
          margin-top: auto;
          color: var(--primary-medium, $primary-medium);
          font-size: $font-down-2;
        }
      }
    }

    .no_topics {
      width: 100%;
      text-align: center;
      margin-top: 50px;
    }
  }
}

.modal .kanban-modal {
  width: 400px;

  .control-label,
  .controls {
    margin: 5px;
  }

  .control-label {
    margin-top: 15px;
  }

  .select-kit,
  div.ac-wrap {
    width: 100%;
  }
}
