html:has(body.kanban-active) {
  overscroll-behavior: none;
}

.discourse-kanban {
  position: relative;
  height: 100%;
  --d-sidebar-gap: 2em;
  @media screen and (max-width: 1000px) {
    --d-sidebar-gap: 1em;
  }

  &.kanban-fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: z("fullscreen");
    background-color: var(--secondary);
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    .discourse-kanban-container {
      height: auto;
      padding: 10px !important;
      max-height: 100%;
    }

    .fullscreen-close-wrapper {
      padding: 10px 0 10px 10px;
      display: flex;
    }
  }

  // No sidebar. Make container fill the viewport width and center lists
  body:not(.has-sidebar-page) &:not(.kanban-fullscreen) {
    width: 100vw;
    left: calc(-50vw + 50%);

    .discourse-kanban-container {
      padding: 0 10px;
    }

    .discourse-kanban-list {
      &:first-of-type {
        margin-left: auto;
      }
      &:last-of-type {
        margin-right: auto;
      }
    }
  }
}

.discourse-kanban-container {
  height: 100%;
  display: flex;
  overflow-y: scroll;
  gap: 0 10px;

  .discourse-kanban-list {
    background: var(--primary-100);
    border: 1px solid var(--primary-low);

    &.kanban-empty-state {
      padding: 2em 1em;
      text-align: center;
      justify-content: center;
      gap: 1em;
      height: 6em;
    }

    &.accept-drag {
      background: var(--primary-300);
    }

    width: 350px;
    flex-shrink: 0;
    padding-top: 10px;

    .list-title {
      font-weight: bold;
      margin-left: calc(11px + 0.15em);
      font-size: $font-up-1;
    }

    .topics {
      overflow-y: scroll;
      padding: 0 8px;
    }

    .topic-card {
      display: block;
      color: var(--primary);

      margin: 10px 0;

      background: var(--secondary);
      padding: 10px;
      box-shadow: var(--primary-low) 0px 3px 6px;
      border: 1px solid var(--primary-low);

      &.dragging {
        background-color: var(--tertiary-low);
      }

      .card-row {
        display: flex;
        align-items: baseline;

        * {
          flex-grow: 0;
        }

        &__user-details-row {
          min-height: 24px;
          align-items: center;
        }

        &__topic-details {
          .relative-date {
            font-size: $font-down-2;
          }
        }

        .last-post-by,
        .topic-title {
          flex-grow: 1;
          word-wrap: break-word;
          overflow: hidden;
        }

        .topic-assignments {
          text-align: right;
        }

        .topic-assignments-with-avatars {
          text-align: right;
          display: flex;
          flex-direction: row;
          align-items: center;

          .d-icon {
            margin-right: 0.25em;
            font-size: $font-down-2;
            color: var(--primary-medium);
          }
        }

        .last-post-by {
          text-align: left;
          font-size: $font-down-2;
          color: var(--primary-medium);
        }

        .tags {
          font-size: var(--font-down-1);
        }

        .category {
          flex-grow: 1;
        }

        .assigned-to {
          margin-top: auto;
          margin-bottom: auto;

          font-size: var(--font-down-1);
          vertical-align: baseline;

          a {
            color: var(--primary-medium);
          }
        }
      }
    }

    .no_topics {
      width: 100%;
      text-align: center;
      margin-top: 50px;
      min-height: 100px;
    }
  }
}

.modal .kanban-modal {
  width: 400px;

  .control-label,
  .controls {
    margin: 5px;
  }

  .control-label {
    margin-top: 15px;
  }

  .select-kit,
  div.ac-wrap {
    width: 100%;
  }
}

body.kanban-active {
  #main-outlet {
    height: calc(100dvh - var(--header-offset) - 2.5em);
  }

  .list-container .row:nth-child(2),
  .full-width {
    height: 100%;
  }

  #list-area {
    height: 100%;
  }
}

ul.kanban-controls {
  padding: 0.5rem;
  margin: 0;
  list-style: none;

  li .btn {
    width: 100%;
    justify-content: flex-start;
  }

  li {
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
