{{#if shouldDisplay}}
    <div class="discourse-kanban-container">
        <div class="kanban-spacer">
            {{d-button icon=(if fullscreen "discourse-compress" "discourse-expand") action=(action "toggleFullscreen")}}
            {{d-button icon="filter" action=(action "openSettings")}}
        </div>
        {{#each kanbanHelper.listDefinitions as |definition|}}
            {{discourse-kanban-list definition=definition dragData=dragData setDragData=(action 'setDragData')}}
        {{/each}}
        <div class="kanban-spacer"></div>
    </div>
{{/if}}